		body {
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f5f5f5;
            display: flex;
            justify-content: space-between;
        }

        #sidebar {
            width: 250px;
            background-color: #1197E1;
            color: white;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
            box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
			position: fixed;
			top: 0;
			left: 0;
        }

		img {
			max-width: 720px;
			max-height: 480px;
		}

        #content {
            flex: 1;
            padding: 20px;
			padding-left: 270px;
			box-sizing: border-box;
            display: flex;
            flex-wrap: wrap; 
            justify-content: space-between;
        }

        /* Style the sidebar links */
        #sidebar a {
            display: block;
            color: black;
            padding: 15px;
            text-decoration: none;
            transition: background-color 0.3s;
        }
		
		h1{
            color: #1147E1;
            margin-bottom: 10px;
        }

        /* Style the sidebar links on hover */
        #sidebar a:hover {
            background-color: #1147E1; 
        }

        .product {
            text-align: center;
            width: 45%;
            margin-bottom: 20px; 
        }

        .product-info {
            margin-top: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
        }

        .product img {
            max-width: 100%;
            height: auto;
        }

        /* Style for the star rating */
        .stars {
            display: flex;
			flex-direction: row-reverse;
        }

        .stars input[type="radio"] {
            display: none;
        }

        .stars label {
            font-size: 40px; 
            cursor: pointer;
        }

        .stars label:before {
            content: "\2605";
            color: #ccc;
        }

        .stars input[type="radio"]:checked ~ label:before {
            content: "\2605";
            color: #ffdb58;
        }